.container {
    position: relative;
    top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    width: 350px;

    color: #000;

    /* Heading 1/Regular */

    -webkit-text-stroke-color: #000;

    font-size: 100px;
    font-style: normal;
    font-weight: 100;
    line-height: 110%; /* 70.4px */
    letter-spacing: -1.28px;
    text-transform: capitalize;
}
